@import url('https://fonts.googleapis.com/css?family=Raleway');
/* @import url('https://fonts.googleapis.com/css?family=Montserrat'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    font-weight: bold;
}
body{
    /* max-width: 100%;
    height:auto; */
    /* min-height: 100%; */
    background: url('./Asset/Background.png') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    /* display: flex; */
    justify-content: center;
}
/* NAVBAR CSS */
.header{
    position:absolute;
    margin: auto;
    width:100%;
    height: 100px;
    /* padding: 1.3rem 10%; */
    /* padding-right: 200px; */
    background: linear-gradient(to bottom,#110EA1 ,#080752 );
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: white;
    font-weight: bold;
    /* margin-bottom: 100%; */
}
.logo{
    position: relative;
    top:10px;
    left:10px;
}
.navbar{
    /* padding-right:500px; */
    width: 100%;
    /* right:950px; */
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 40px;
}
.navbar>ul{
    list-style: none;
    /* background: red; */
}
.navbar>ul>li{
    display: inline-block;
    position: relative;
}
.navbar>ul>li>a{
    display: block;
    /* padding:20px 25px; */
    padding-left: 40px;
    color: rgb(163, 163, 163);
    text-decoration: none;
    text-align: center;
    font-size:18px;
}
.navbar ul li ul.dropdown>li{
    display: block;
    text-decoration: none;/
}
.navbar ul li ul.dropdown{
    /* width:100%; */
    background: white;
    position: absolute;
    left:33px;
    z-index: 999;
    display: none;
}
.dropdown>li>a{
    color: #0C0A72;
    text-decoration: none;
}
.dropdown .ayam{
    border-bottom: 1px solid;
    margin-bottom: 5px;
    list-style: none;

}
.dropdown .ayam li a{
    text-decoration: none;
    color: #0C0A72;
}
.navbar .Arrow{
    color: white;
}
.navbar ul li a:hover{
    /* background: black; */
    /* opacity: 10%; */
    color: rgb(255, 255, 255);
    transition: all 0.3s ease-in;
}
.navbar .Arrow:hover img{
    transform: rotate(180deg);
    transition: all .3s ease;
}
.navbar ul li:hover ul.dropdown{
    display: block;
    color: #0C0A72;
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
    text-decoration: none;
    transition: none;
    opacity: 80%;
    border-bottom: 1px solid;
}
.login{
    /* margin: auto; */
    /* padding: auto; */
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 5px;
    font-size: 18px;
    bottom: 8px;
    margin-right: 50px;
}
.login2>a{
  text-decoration: none;
  color: rgb(163, 163, 163);
  /* margin-left: 20px; */
  margin: 10px;
}
.login img{
    opacity: 50%;
}
.login img:hover{
    transition: all .3s ease-in;
    opacity: 100%;
}
.navbar ul li ul.dropdown .ayam li a:hover, .navbar ul li ul.dropdown li a:hover, .navbar ul li ul.dropdown li a.active{
    transition: all .3s ease-in;
    color: black;
}

/* FOOTER CSS */
footer{
    font-family: "Raleway";
    font-size: 12px;
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to bottom,#110EA1 ,#080752 );
    color: #fff;
    padding: 60px 0 30px;
    line-height: 20px;
    margin-top: 10%;
    
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 5px;
    position: relative;
}

.contact-info{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.contact-info a{
    color: white;
    text-decoration: none;
}

.contact-info img{
    margin-right: 10px;
}

.logo{
    width: 80px;
    margin-bottom: 30px;
}

.col h3{
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
}

.hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid white;
    margin: 20px auto;
}

.copyright{
    margin-top: 10px;
    text-align: center;
}


form{
    font-family:"Montserrat";
    width: 100%;
    margin: auto;
    margin-top: 150px;
    /* margin-left: 5%; */
    /* padding-left: 100px; */
    /* margin-left: 10px; */
}
.middle{
    font-family: 'Montserrat';
    position: relative;
    top:120px;
    text-align: center;
    font-weight: bold;
    color: #0C0A72;
    font-size: 26px;
}
.container{
    position: relative;
    max-width: 100%;
    margin-top: 50px;
    margin-left:190px ;
    font-size: 20px;
}
.inputname>input{
    font-family: 'Montserrat';
    width: 220px;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 5px;
}
.inputfield{
    position: relative;
    display: flex;
    width: 270px;
    border-radius: 5px;
    background: white;
    border: solid 2px;
}
.inputfield img{
    position: relative;
    top:3px;
    left:10px;
    cursor: pointer;
    /* margin: auto; */
}
.pilihkelas{
    font-family: 'Montserrat';
    position: relative;
    display: flex;
    width: 15%;
    max-height: 100px;
    height: 30px;
    /* padding: 1px; */
    border-radius: 5px;
    border: solid 2px;
}
.pilihfas{
    font-family: 'Montserrat';
    position: relative;
    display: flex;
    width: 15%;
    max-height: 100px;
    height: 30px;
    /* padding: 1px; */
    border-radius: 5px;
    border: solid 2px;
}
.dmy{
    margin: 0;
    border: 2px solid;
    border-radius: 5px;
    font-family: 'Montserrat';
    /* width:100px; */
    height: 30px;
    padding: 5px;
    width: 15%;
}
.waktu{
    font-family: 'Montserrat';
    position: relative;
    display: flex;
    width: 15%;
    max-height: 100px;
    height: 30px;
    /* padding: 1px; */
    border-radius: 5px;
    border: solid 2px;
    overflow-y: scroll;
}
.submit{
    font-family: 'Montserrat';
    font-weight: bold;
    position: relative;
    border-radius: 80px;
    border: none;
    background: #141286;
    color: white;
    width: 150px;
    height: 50px;
    top:40px;
    cursor: pointer;
}
.submit:hover{
    background: #110EA1;
    transition: all .3s ease-in-out;
}
.carousel{
    float: right;
    position: relative;
    top:140px;
    width:400px;
    height: 500px;
    transform: translate(-30%,-30%);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 10px 25px 30px rgba(30,30,200,0.3);
}
.inside{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}
.inside>img{
    width: 100%;
    float: right;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(0);
    }
    15%{
        transform: translateX(-100%);
    }
    25%{
        transform: translateX(-100%);
    }
    30%{
        transform: translateX(-200%);
    }
    40%{
        transform: translateX(-200%);
    }
    45%{
        transform: translateX(-300%);
    }
    55%{
        transform: translateX(-300%);
    }
    60%{
        transform: translateX(-400%);
    }
    70%{
        transform: translateX(-400%);
    }
    75%{
        transform: translateX(-500%);
    }
    85%{
        transform: translateX(-500%);
    }
    90%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(0);
    }
}
.label{
    font-family: 'Montserrat';
    font-weight: bold;
    color:#080752;
}
.popup{
    visibility: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}
.confirmbox{
    position: relative;
    width: 646px;
    height: 420px;
    margin-left: 350px;
    bottom: 430px;
}
.bluebox{
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    background-color: #528FD6;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.confirmation{
    text-align: center;
    background-color: white;
    height: 200px;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
}
.confirmtext{
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: bold;
    color: #0C0A72;
}
.inputtext{
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: normal;
    color:#0C0A72;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 30px;
}
.yes{
    width: 120px;
    height: 40px;
    border-radius: 90px;
    border: none;
    cursor: pointer;
    background-color: #0C8E48;
    font-family: 'Montserrat';
    font-weight: bold;
    color: white;
    font-size: 20px;
}
.no{
    width: 120px;
    height: 40px;
    border-radius: 90px;
    border: none;
    cursor: pointer;
    background-color: #CB0606;
    font-family: 'Montserrat';
    font-weight: bold;
    color: white;
    font-size: 20px;
}
.bookingform{
    max-height: 500px;
}
.open-popup{
    visibility: visible;
}
.popup2{
    background-color: white;
    width: 646px;
    height: 420px;
    position: relative;
    bottom: 850px;
    left: 350px;
    border-radius: 90px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    visibility: hidden;
}
.imgcheck{
    position: relative;
    align-self: center;
    margin-bottom: 30px;
    bottom: 50px;
}
.thanks{
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #0C0A72;
    position: relative;
    bottom: 50px;
}
.added{
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: lighter;
    color: #0C0A72;
    position: relative;
    bottom: 10px;
}
.ok{
    width: 120px;
    justify-self: center;
    align-self: center;
    height: 40px;
    font-size: 25px;
    border: none;
    background-color: #0C0A72;
    border-radius: 90px;
    cursor: pointer;
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    position: relative;
    top: 30px;
}
.open-popup2{
    visibility: visible;
}
