@import url('https://fonts.googleapis.com/css?family=Raleway');
/* @import url('https://fonts.googleapis.com/css?family=Montserrat'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    font-weight: bold;
    max-height: 900px;
}
body{
    max-width: 100%;
    min-height: 100%;
    background: url('./Asset/Background.png') repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    /* display: flex; */
    justify-content: center;
}
/* NAVBAR CSS */
.header{
    position:absolute;
    /* margin: auto; */
    width:100%;
    height: 100px;
    background: linear-gradient(to bottom,#110EA1 ,#080752 );
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: white;
    /* margin-bottom: 100%; */
}
.logo{
    position: relative;
    top:10px;
    left:10px;
}
.navbar{
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 40px;
}
.navbar>ul{
    list-style: none;
    /* background: red; */
}
.navbar>ul>li{
    display: inline-block;
    position: relative;
}
.navbar>ul>li>a{
    display: block;
    /* padding:20px 25px; */
    padding-left: 40px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size:18px;
}
.navbar ul li ul.dropdown>li{
    display: block;
    text-decoration: none;/
}
.navbar ul li ul.dropdown{
    /* width:100%; */
    background: white;
    position: absolute;
    left:33px;
    z-index: 999;
    display: none;
}
.dropdown>li>a{
    color: #0C0A72;
    text-decoration: none;
}
.navbar ul li a:hover{
    /* background: black; */
    color: black;
    transition: all 0.3s ease-in;
}
.navbar .Arrow:hover img{
    transform: rotate(180deg);
    transition: all .3s ease;
}
.navbar ul li:hover ul.dropdown{
    display: block;
    color: #0C0A72;
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
    text-decoration: none;
    transition: none;
    opacity: 80%;
}
.login{
    /* margin: auto; */
    /* padding: auto; */
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 5px;
    font-size: 18px;
    bottom: 8px;
}
.login2>a{
    text-decoration: none;
    color: white;
}
/* FOOTER CSS */
footer{
    font-family: "Raleway";
    font-size: 12px;
    width: 100%;
    position: relative;
    /* height: 500px; */
    bottom: 0px;
    background: linear-gradient(to bottom,#110EA1 ,#080752 );
    color: #fff;
    padding: 60px 0 30px;
    line-height: 20px;
    margin-top: 10%;
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 5px;
    position: relative;
}

.contact-info{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.contact-info a{
    color: white;
    text-decoration: none;
}

.contact-info img{
    margin-right: 10px;
}

.logo{
    width: 80px;
    margin-bottom: 30px;
}

.col h3{
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
}

.hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid white;
    margin: 20px auto;
}

.copyright{
    margin-top: 10px;
    text-align: center;
}

/* ISI */
.middle{
    font-family: 'Montserrat';
    position: relative;
    top:120px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #0C0A72;
    font-size: 26px;
}
.imgnews{
    position: relative;
    bottom: 1150px;
    left: 60px;
}
.containers{
    max-height: 1200px;
    display: flex;
    flex-direction: column;
}
.wrapper1{
    position: relative;
    border: none;
    border-radius: 10px;
    width: 1200px;
    left: 30px;
    background: #528FD6;
    opacity: 50%;
    margin-top: 130px;
    min-height: 1200px;
}
.carousel {
    position: relative;
    bottom: 1100px;
    left: 180px;
  }
  
  .carousel__item {
    position: relative;
    left: 100px;
    height: 427px;
    width: 721px;
    padding: 1em;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: #ffffff;
    transition: all 0.5s ease;
    display: none;
  }
  
  .carousel__item--selected {
    display: flex;
    opacity: 1;
  }
  
  .carousel__nav {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
  }
  
  .carousel__button {
    width: 10px;
    height: 10px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin: 0 5px;
    position: relative;
    top: 20px;
    right: 100px;
    cursor: pointer;
  }
  
  .carousel__button--selected {
    /* background: rgba(255, 255, 255, 0.5); */
    background: #0C0A72;
  }
  
