@import url('https://fonts.googleapis.com/css?family=Raleway');
/* @import url('https://fonts.googleapis.com/css?family=Montserrat'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    font-weight: bold;
    max-height: 900px;
}
body{
    /* max-width: 100%; */
    /* min-width: 100px; */
    min-height: 100%;
    background: url('./Asset/Background.png') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    /* display: flex; */
    justify-content: center;
}
/* NAVBAR CSS */
.header{
    position:absolute;
    margin: auto;
    width:100%;
    height: 100px;
    /* padding: 1.3rem 10%; */
    /* padding-right: 200px; */
    background: linear-gradient(to bottom,#110EA1 ,#080752 );
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: white;
    font-weight: bold;
    /* margin-bottom: 100%; */
}
.logo{
    position: relative;
    top:10px;
    left:10px;
}
.navbar{
    /* padding-right:500px; */
    width: 100%;
    /* right:950px; */
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 40px;
}
.navbar>ul{
    list-style: none;
    /* background: red; */
}
.navbar>ul>li{
    display: inline-block;
    position: relative;
}
.navbar>ul>li>a{
    display: block;
    /* padding:20px 25px; */
    padding-left: 40px;
    color: rgb(163, 163, 163);
    text-decoration: none;
    text-align: center;
    font-size:18px;
}
.navbar ul li ul.dropdown>li{
    display: block;
    text-decoration: none;/
}
.navbar ul li ul.dropdown{
    /* width:100%; */
    background: white;
    position: absolute;
    left:33px;
    z-index: 999;
    display: none;
}
.dropdown>li>a{
    color: #0C0A72;
    text-decoration: none;
}
.dropdown .ayam{
    border-bottom: 1px solid;
    margin-bottom: 5px;
    list-style: none;

}
.dropdown .ayam li a{
    text-decoration: none;
    color: #0C0A72;
}
.navbar ul li a:hover{
    /* background: black; */
    /* opacity: 10%; */
    color: rgb(255, 255, 255);
    transition: all 0.3s ease-in;
}
.navbar .Arrow:hover img{
    transform: rotate(180deg);
    transition: all .3s ease;
}
.navbar ul li:hover ul.dropdown{
    display: block;
    color: #0C0A72;
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
    text-decoration: none;
    transition: none;
    opacity: 80%;
    border-bottom: 1px solid;
}
.navbar ul li ul.dropdown .ayam li a:hover, .navbar ul li ul.dropdown li a:hover{
    transition: all .3s ease-in;
    color: black;
}
.login{
    /* margin: auto; */
    /* padding: auto; */
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 5px;
    font-size: 18px;
    bottom: 8px;
    margin-right: 50px;
}
.login2>a{
  text-decoration: none;
  color: rgb(163, 163, 163);
  /* margin-left: 20px; */
  margin: 10px;
}
.login img:hover{
    transition: all .3s ease-in;
    opacity: 100%;
}
/* FOOTER CSS */
footer{
    font-family: "Raleway";
    font-size: 12px;
    width: 100%;
    position: relative;
    /* height: 500px; */
    bottom: 0;
    background: linear-gradient(to bottom,#110EA1 ,#080752 );
    color: #fff;
    padding: 60px 0 30px;
    line-height: 20px;
    /* margin-top: 10%; */
}

.row{
    width: 85%;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 5px;
    position: relative;
}

.contact-info{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.contact-info a{
    color: white;
    text-decoration: none;
}

.contact-info img{
    margin-right: 10px;
}

.logo{
    width: 80px;
    margin-bottom: 30px;
}

.col h3{
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
}

.hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid white;
    margin: 20px auto;
}

.copyright{
    margin-top: 10px;
    text-align: center;
}

/* ISI */
.middle{
    font-family: 'Montserrat';
    position: relative;
    top:120px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #0C0A72;
    font-size: 26px;
}
.containmid{
    position: relative;
    margin-top: 170px;
    /* height: 100%; */
    max-height: 700px;
    width: 100%;
    /* top: 90px; */
}
.profileimg{
    position: relative;
    float: left;
    left: 90px;
}
.profilisi{
    position: relative;
    text-align: left;
    left: 110px;
    word-spacing: 5px;
    font-family: 'Montserrat';
    font-weight: lighter;
    color: #0C0A72;
    width: 900px;
    top: 50px;
    max-height: 700px;
}
.view{
    position: relative;
    top: 30px;
    width: 250px;
    height: 50px;
    font-size: 23px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #0C0A72; 
    border-radius: 10px;
    border: 1px solid;
}
.popup1{
    position: relative;
    bottom: 800px;
    visibility: hidden;
}
.open-popup1{
    /* transition: all .5s ease-in; */
    /* animation: ease-in .3s all; */
    visibility: visible;
    z-index: 202;
}
button{
    position: relative;
    top: 200px;
    cursor: pointer;
}
.title1{
    top: 20px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 29px;
    position: relative;
    left: 5px;
}
.ViewList{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 10px;
    bottom: 140px;
}
.isiprofile{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: bolder;
}
.name1, .class1, .age1, .email1, .status1{
    font-family: 'Montserrat';
    font-weight: bold;
}
.class1>label{
    position: relative;
    left: 10px;
}
.age1>label{
    position: relative;
    left: 30px;
}
.email1>label{
    position: relative;
    left: 5px;
}
.name1>label, .class1>label, .age1>label, .email1>label, .status1>label{
    font-weight: lighter;
}
.status1{
    display: flex;
    flex-direction: row;
}
.status1>span{
    position: relative;
    left: 6px;
    font-weight: lighter;
}
.tabelstatus{
    background-color: #93F4A8;
    border-radius: 20px;
    border-width: 20px;
    width: 180px;
    justify-content: center;
    text-align: center;
    position: relative;
    left: 20px;
}
.status1>label{
    font-family: 'Montserrat';
    font-weight: bold;
    color: #0C8E48;
}
.guides{
    position: relative;
    bottom: 180px;
}
.button {
    padding: 10px 20px;
    background-color: #141286;
    color: white;
    width: 280px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px; 
    z-index: 201;
    font-family: 'Montserrat';
}

.button:hover {
    transition: all .3s ease-in;
    background-color: #3a3a99;
}
.opsi1{
    font-family: 'Montserrat';
    font-weight: bold;
    /* text-decoration: underline; */
    color: white;
    font-size: 15px;
    width: 200px;
    height: 50px;
    border: none;
    margin-bottom: 90px;
    background:#4d4bb4;
    border-radius: 30px;
}
.opsi2{
    font-family: 'Montserrat';
    font-weight: bold;
    /* text-decoration: underline; */
    color: white;
    font-size: 15px;
    width: 200px;
    height: 50px;
    border: none;
    margin-bottom: 90px;
    background:rgb(224, 85, 85);
    border-radius: 30px;
}
.opsi3{
    font-family: 'Montserrat';
    font-weight: bold;
    /* text-decoration: underline; */
    color: white;
    font-size: 15px;
    width: 200px;
    height: 50px;
    border: none;
    margin-bottom: 90px;
    background:#3ad262;
    border-radius: 30px;
}
.cancel{
    z-index: 101;
    position: relative;
    margin-top: 50px;
    float: right;
    top: 90px;
    left: 160px;
    cursor: pointer;
}
.popup2{
    position: relative;
    bottom: 1650px;
    visibility: hidden;
}
.open-popup2{
    visibility: visible;
    z-index: 202;
}
.cancel1{
    z-index: 101;
    position: relative;
    float: right;
    top: 90px;
    left: 160px;
    cursor: pointer;
}
.popup3{
    position: relative;
    bottom: 2500px;
    visibility: hidden;
}
.open-popup3{
    visibility: visible;
    z-index: 202;
}
.cancel2{
    z-index: 101;
    position: relative;
    float: right;
    top: 90px;
    left: 160px;
    cursor: pointer;
}
.opsi1:hover{
    transition: all .3s ease-in;
    background: #110EA1;
}
.opsi2:hover{
    transition: all .3s ease-in;
    background: rgb(246, 29, 29)
}
.opsi3:hover{
    transition: all .3s ease-in;
    background: rgb(22, 181, 22)
}
.deletebook{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    bottom: 580px;
    /* left: 960px; */
}
.deletebook>img{
    width: 30px;
    position: relative;
    left: 960px;
    cursor: pointer;
}
.del{
    position: relative;
    top: 45px;
}

.popup4{
    visibility: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 600px;
    justify-content: center;
    align-self: center;
    justify-self: center;
    align-items: center;
    /* bottom: 200px; */
    /* right: 700px; */
    z-index: 202;
    bottom: 650px;
}
.confirmbox{
    position: relative;
    width: 646px;
    /* height: 420px; */
    /* margin-left: 400px; */
    /* bottom: 430px; */
}
.bluebox{
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    background-color: #528FD6;
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
}
.confirmation{
    text-align: center;
    background-color: white;
    height: 200px;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
}
.confirmtext{
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: bold;
    color: #0C0A72;
}
.inputtext{
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: normal;
    color:#0C0A72;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    bottom: 150px;
}
.yes{
    width: 120px;
    height: 40px;
    border-radius: 90px;
    border: none;
    cursor: pointer;
    background-color: #0C8E48;
    font-family: 'Montserrat';
    font-weight: bold;
    color: white;
    font-size: 20px;
}
.no{
    width: 120px;
    height: 40px;
    border-radius: 90px;
    border: none;
    cursor: pointer;
    background-color: #CB0606;
    font-family: 'Montserrat';
    font-weight: bold;
    color: white;
    font-size: 20px;
}
.open-popup4{
    visibility: visible;
}
.popup5{
    background-color: white;
    /* width: 646px; */
    min-width: 646px;
    height: 420px;
    position: relative;
    bottom: 1000px;
    /* right: 1350px; */
    left: 350px;
    /* margin-left: 310px; */
    border-radius: 90px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    z-index: 202;
    visibility: hidden;
}
.imgcheck{
    position: relative;
    align-self: center;
    margin-bottom: 30px;
    bottom: 50px;
}
.thanks{
    text-align: center;
    font-size: 30px;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #0C0A72;
    position: relative;
    bottom: 50px;
}
.added{
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: lighter;
    color: #0C0A72;
    position: relative;
    bottom: 10px;
}
.ok{
    width: 120px;
    justify-self: center;
    align-self: center;
    height: 40px;
    font-size: 25px;
    border: none;
    background-color: #0C0A72;
    border-radius: 90px;
    cursor: pointer;
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
    position: relative;
    top: 30px;
}
.open-popup5{
    visibility: visible;
}
